extends layout

block content
    style(type="text/css").
        .card {
           width:25rem;
           height: 30rem;
           margin: 0 auto;
        }
        .btn-toolbar, .auth-title{
            justify-content: center; display: flex;
        }

    div#result(style="display: block; width:300px; height:300px") 
    video#video(style="width:720; height:560")